name: Deploy PR to test-front

on:
  pull_request_review:
    types: [submitted]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    if: github.event.review.state == 'approved'
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Run SSM Command
        run: |
          PR=${{ github.event.pull_request.number }}

          aws ssm send-command \
            --instance-ids "${{ secrets.EC2_INSTANCE_ID }}" \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy PR" \
            --parameters commands="sudo /opt/frontend-pr/deploy_front_pr.sh $PR"
