name: Deploy PR to test-front

on:
  pull_request_review:
    types: [submitted]

permissions:
  pull-requests: read

jobs:
  deploy:
    if: github.event.review.state == 'approved'
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            PR_NUMBER=${{ github.event.pull_request.number }}
            sudo /opt/frontend-pr/deploy_front_pr.sh $PR_NUMBER
